<!DOCTYPE html>
<html>
  <head>
    <title><%= envs.APP_NAME %></title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </head>

  <body>
    <nav>
      <h1><%= envs.APP_NAME %></h1>
      <% if (!user) { %>
        <%- include("partials/auth/googleSignIn.ejs", {envs}) %>
      <% } else { %>
        <%- include("partials/auth/userProfile.ejs", {user}) %>
      <% } %>
    </nav>

    <div class="todo-container">
      <% if (!user) { %>
        <h2>Log in to see your To-do list</h2>
      <% } else { %>
        <%- include("partials/todo/list.ejs", {user}) %>
      <% } %>
    </div>

    <footer>
      <% if (user) { %>
        <%- include("partials/todo/counters.ejs", {user}) %>
      <% } %>
    </footer>
  </body>
</html>
